



.list{
    list-style: none;
}
.link{
    text-decoration: none;
}





/*=========== HEADER =========*/
.menu-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-link:hover,
.menu-link:focus {
color: #2196F3;
}

.menu-link.current{
color: #2196F3; 
}

.tel-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.tel-link:hover,
.tel-link:focus{
color: #2196F3; 
}
/*=========== END HEADER =========*/



/*=========== HERO =========*/
.hero-title{
font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.modal-btn{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}
/*=========== END HERO =========*/



/*=========== FEATURES =========*/
.our-features-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.our-features-description{
font-family: "Roboto", sans-serif;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: #757575;
}
/*=========== END FEATURES =========*/


/*=========== ABOUT =========*/
.our-work-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*=========== END ABOUT =========*/


/*=========== TEAM =========*/

.our-team-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-team-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-team-position{
font-family: "Roboto", sans-serif;
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/*=========== END TEAM =========*/


/*=========== FOOTER =========*/





/*=========== END FOOTER =========*/